<form class="form-horizontal" id="track-form">
  <div class="form-group">
    <label class="control-label col-sm-2">first date range:</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" name="d1_start" placeholder="start date">
    </div>
    <div class="col-sm-2">
      <input type="date" class="form-control" name="d1_end" placeholder="end date">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="second_date">second date range:</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" name="d2_start" placeholder="start date">
    </div>
    <div class="col-sm-2">
      <input type="date" class="form-control" name="d2_end" placeholder="end date">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phrase_content">
      phrase selection:</label>
    <div class="col-sm-2">
    <%= collection_select(:phrase, :content, Phrase.all, :content, :content,{}, {class:'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-2">
    <button type="button" onclick="getFormData()" class="btn btn-default">Submit</button>
  </div>
  </div>
  </form>

<div id="results">
</div>