<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Understanding Discriminatory Housing in Boston</h1>
    </div>
    <div class="col-sm-3" id="housing-icon"></div>
    <div class="col-sm-6" id="housing-icon">
      <img src="assets/housing.svg">
    </div>
    <div class="col-sm-3" id="housing-icon"></div>
    <div class="col-sm-12">
      <p>This is a project for the City of Boston that addresses the potential discriminatory housing rental practices in Boston as manifested through Craigslist postings.</p>
    </div>
  </div>
</div>
