<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <br>
  <div id="map"></div>
  <div id="coords"></div>
  <div id="viz"></div>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK4CHKQGN8ioGd0JpiviXI5pztWU5tepk&callback=initMap"></script>
  <script src="//d3plus.org/js/d3.js"></script>
  <script src="//d3plus.org/js/d3plus.js"></script>

</body>
</html>