<h1 class="contact-header"> Contact Us </h1>

<div class="questions">
  <p> The purpose of the app is to search housing listings
  in the Boston area to find discriminatory postings
  manifested through Craigslist.
  </p>

  <p> For more information about our organization, visit us at <a href="http://www.codeforboston.org">codeforboston.org</a></p>

  <p> For any questions about the origination contact <a href="mailto:hello@codeforboston.org">hello@codeforboston.org</a></p>

  <p> For any questions about the project <a href="mailto:alex@codeforboston.org">alex@codeforboston.org</a></p>
</div>
