<div class="Page-Title">Statistics</div>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-3 control-label">Range</label>
    <div class="col-xs-3 selectContainer">
      <select class="form-control" id='date_range' name="daterange">
        <option value = "">Choose Date Range</option>
        <option value = "1m">1 month</option>
        <option value = "3m">3 months</option>
        <option value = "6m">6 months</option>
        <option value = "1y">1 year</option>
        <option value = "5y">5 year</option>
        <option value = "all">All</option>
      </select>
    </div>
    <button class="btn btn-primary" onclick="getStats()">Query Statistics</button>
  </div>
</div>

<br>
<br>

<div class="displayStats row">
  <div class="col-xs-4">
    <div id="pie-chart-container" style="width:100%; height:600px;"></div>
  </div>
  <div class="col-xs-7">
    <div id="bar-chart-container" style="width:100%; height:600px;"></div>
  </div>
</div>
