
<select>
  <option value = "1m">1 month</option>
  <option value = "3m">3 months</option>
  <option value = "6m">6 months</option>
  <option value = "1y">1 year</option>
  <option value = "5y">5 year</option>
  <option value = "all">All</option>
</select>

<button onclick="getStats()">Apply</button>

<br>
<br>

<div class="displayStats">
  <label>Total number of listings: </label><div id="num_list"></div>
  <label>Number of discriminatory listings: </label><div id="num_disc"></div>
</div>
