<form class="form-horizontal" action="/tools/track_changes" method="POST">
  <div class="form-group">
    <label class="control-label col-sm-2" for="first_date">first date range:</label>
    <div class="col-xs-2">
      <input type="date" class="form-control" name="first_date">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="second_date">second date range:</label>
    <div class="col-xs-2">
      <input type="date" class="form-control" name="second_date">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phrase_content">
      phrase selection:</label>
    <div class="col-xs-2">
    <%= collection_select(:phrase, :content, Phrase.all, :content, :content,{}, {class:'form-control'}) %>
    </div>
  </div>
 time duration
</form>
